.v-bg-primary {
    background-color: #007bff;
    color: #fff;
}

.v-bg-secondary {
    background-color: #6c757d;
    color: #fff;
}

.v-bg-danger {
    background-color: #dc3545;
    color: #fff;
}

.v-bg-success {
    background-color: #28a745;
    color: #fff;
}

.v-bg-warning {
    background-color: #ffc107;
    color: #3e3b2b;
}

.v-bg-dark {
    background-color: #3e3b2b;
    color: #fff;
}

.v-bg-light {
    background-color: #f8f9fa;
    color: #3e3b2b;
}
