.v-divider, .v-divider-icon, hr {
    display: block;
    border: 0;
    margin: 15px $default-out-space;
    border-top: 1px solid #c0c0c0;
}

@mixin divider-icon($cord1, $cord2, $size) {
    position: absolute;
    #{$cord1}: 0;
    border: 0;
    
    #{$cord2}: 8px;
    #{$cord2}: -webkit-calc(50% - (1px / 2));
    #{$cord2}: calc(50% - (1px / 2));

    #{$size}: -webkit-calc(50% - 16px);
    #{$size}: calc(50% - 16px);

    content: "";
    border-top: 1px solid #c0c0c0;
}

.v-divider-icon {
    position: relative;
    text-align: center;
    min-height: 16px;
    border: 0;
}

/* horizontal left line */
.v-divider-icon:before, .v-divider-icon:after {
    @include divider-icon('left', 'top', 'width');
}

.v-divider-icon::before, .v-divider-icon::after {
    @include divider-icon('left', 'top', 'width');
}

.v-divider-icon:after {
    left: auto;
    right: 0;
}

.v-divider-icon::after {
    left: auto;
    right: 0;
}

@mixin divider-style($type) {
    .v-divider.v-divider-#{$type} {
        border-style: unquote($type);
    }

    .v-divider-icon.v-divider-#{$type}:before, .v-divider-icon.v-divider-#{$type}:after {
        border-style: unquote($type);
    }

    .v-divider-icon.v-divider-#{$type}::before, .v-divider-icon.v-divider-#{$type}::after {
        border-style: unquote($type);
    }
}

@include divider-style('dotted');
@include divider-style('dashed');
@include divider-style('double');
@include divider-style('groove');
