.v-navbar {
    position: relative;
    width: 100%;
    padding: 0 15px;
    background-color: #1e87f0;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .15);
}

.v-navbar, .v-navbar a {
    color: #fff;
}

.v-navbar .v-navbar-left {
    float: left;
}

.v-navbar .v-navbar-right {
    float: right;
}

.v-navbar .v-navbar-brand, .v-navbar .v-navbar-nav {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.v-navbar .v-navbar-brand {
    width: 180px;
}

.v-navbar .v-navbar-left, .v-navbar .v-navbar-right {
    height: 64px;
}

.v-navbar .v-navbar-left::before, .v-navbar .v-navbar-right::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.v-navbar .v-navbar-nav > * {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0 15px;
}
.v-navbar .v-navbar-nav > * a {
    display: inline-block;
    text-decoration: none;
}

.v-navbar .v-navbar-nav > * .v-nav-item::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all .3s;
}

.v-navbar .v-navbar-nav > * .v-nav-item:hover::after {
    width: 100%;
}

.v-navbar .v-navbar-toggle {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
}

.v-icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transform: rotate(0);
    transition: all .3s;
}
.v-icon-bar + .v-icon-bar {
    margin-top: 4px;
}
.v-drop {
    position: relative;
}

.v-drop > .v-icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.v-drop > .v-icon-bar:nth-of-type(2) {
    opacity: 0;
}

.v-drop > .v-icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

@media(max-width: 800px) {
    .v-navbar .v-navbar-nav {
        display: none;
    }

    .v-navbar .v-navbar-toggle {
        display: inline-block;
    }
}

@media(max-width: 800px) {
    .v-drop ~ .v-navbar-nav {
        position: absolute;
        display: block;
        right: 0;
        background-color: #ccc;
        width: 100%;
    }

    .v-navbar .v-drop ~ .v-navbar-nav > * {
        display: block;
        text-align: left;
        padding: 10px 0;
    }
}
