.v-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.v-table > caption, .v-table > * > th, .v-table > thead, .v-table > tfoot {
    font-weight: normal;
    text-align: left;
    font-size: 10pt;
    color: #999;
    text-transform: uppercase;
}

.v-table > * > tr > th, .v-table > * > tr > td {
    padding: 16px 12px;
}

.v-table > tfoot > tr > th {
    vertical-align: bottom;
}

.v-table > tbody > tr > td {
    vertical-align: middle;
}

.v-table > tfoot > tr > td {
    vertical-align: top;
}

.v-table-divider tbody tr {
    border-top: 1px solid #e5e5e5;
}

.v-table-striped tbody > tr:nth-of-type(odd) {
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.v-table-hover tbody > tr:hover {
    background-color: #97c2ec;
}

.v-table[class^="v-table-responsive-"], .v-table[class*="v-table-responsive-"] {
    width: 100%;
}

.v-table[class^="v-table-responsive-"] tr {
    white-space: normal;
}

/* apply effect for browsers with media-query support */
@media (min-width: 1px) {
    .v-table[class^="v-table-responsive-"],
    .v-table[class*="v-table-responsive-"],
    .v-table[class^="v-table-responsive-"] > tbody,
    .v-table[class*="v-table-responsive-"] > tbody,
    .v-table[class^="v-table-responsive-"] > tbody > tr,
    .v-table[class*="v-table-responsive-"] > tbody > tr,
    .v-table[class^="v-table-responsive-"] > tbody > tr > th,
    .v-table[class*="v-table-responsive-"] > tbody > tr > th,
    .v-table[class^="v-table-responsive-"] > tbody > tr > td,
    .v-table[class*="v-table-responsive-"] > tbody > tr > td {
        display: block;
    }

    .v-table[class^="v-table-responsive-"] > thead,
    .v-table[class*="v-table-responsive-"] > thead,

    .v-table[class^="v-table-responsive-"] > tfoot,
    .v-table[class*="v-table-responsive-"] > tfoot {
        display: none;
    }
}


@media (min-width: 575px) {
    .v-table.v-table-responsive-sm { display: table; }
    .v-table.v-table-responsive-sm > thead { display: table-header-group; }
    .v-table.v-table-responsive-sm > tfoot { display: table-footer-group; }
    .v-table.v-table-responsive-sm > tbody { display: table-row-group; }
    .v-table.v-table-responsive-sm > tbody > tr { display: table-row; }
    .v-table.v-table-responsive-sm > tbody > tr > td, .v-table-responsive-sm > tbody > tr > th { display: table-cell; }
}

@media (min-width: 768px) {
    .v-table.v-table-responsive-md { display: table; }
    .v-table.v-table-responsive-md > thead { display: table-header-group; }
    .v-table.v-table-responsive-md > tfoot { display: table-footer-group; }
    .v-table.v-table-responsive-md > tbody { display: table-row-group; }
    .v-table.v-table-responsive-md > tbody > tr { display: table-row; }
    .v-table.v-table-responsive-md > tbody > tr > td, .v-table-responsive-md > tbody > tr > th { display: table-cell; }
}

@media (min-width: 992px) {
    .v-table.v-table-responsive-lg { display: table; }
    .v-table.v-table-responsive-lg > thead { display: table-header-group; }
    .v-table.v-table-responsive-lg > tfoot { display: table-footer-group; }
    .v-table.v-table-responsive-lg > tbody { display: table-row-group; }
    .v-table.v-table-responsive-lg > tbody > tr { display: table-row; }
    .v-table.v-table-responsive-lg > tbody > tr > td, .v-table-responsive-lg > tbody > tr > th { display: table-cell; }
}

@media (min-width: 1200px) {
    .v-table.v-table-responsive-xl { display: table; }
    .v-table.v-table-responsive-xl > thead { display: table-header-group; }
    .v-table.v-table-responsive-xl > tfoot { display: table-footer-group; }
    .v-table.v-table-responsive-xl > tbody { display: table-row-group; }
    .v-table.v-table-responsive-xl > tbody > tr { display: table-row; }
    .v-table.v-table-responsive-xl > tbody > tr > td, .v-table-responsive-xl > tbody > tr > th { display: table-cell; }
}
