$main-text-color: #4F4949;

$default-out-space: 6px;

$global-primary-color:   #007bff;
$global-secondary-color: #6c757d;
$global-danger-color:    #dc3545;
$global-success-color:   #28a745;
$global-warning-color:   #ffc107;
$global-dark-color:      #3e3b2b;
$global-light-color:     #f8f9fa;

$global-primary-text-color:   #fff;
$global-secondary-text-color: #fff;
$global-danger-text-color:    #fff;
$global-success-text-color:   #fff;
$global-warning-text-color:   $main-text-color;
$global-dark-text-color:      #fff;
$global-light-text-color:     $main-text-color;

$global-primary-color-hover:   #025ab9;
$global-secondary-color-hover: #444b52;
$global-danger-color-hover:    #a5232f;
$global-success-color-hover:   #18712c;
$global-warning-color-hover:   #d2a00a;
$global-dark-color-hover:      #1f1d15;
$global-light-color-hover:     #d5d6d8;
