@mixin align-middle($colon) {
    .v-navbar .v-navbar-right#{$colon}before,
    .v-navbar .v-navbar-left#{$colon}before,
    .v-slide > .v-slide-inner#{$colon}before,
    .v-slide .v-slide-btn-back#{$colon}before,
    .v-slide .v-slide-btn-next#{$colon}before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
}

@include align-middle(':');
@include align-middle('::');
