.v-badge {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 4px 6px;
    margin: 2px;
    border-radius: $default-border-radius;
    font-size: 9pt;
    white-space: nowrap;
}

.v-badge.v-badge-tl,
.v-badge.v-badge-bl,
.v-badge.v-badge-tr,
.v-badge.v-badge-br {
    padding-right: 10px;
    padding-left: 10px;
}

.v-badge.v-badge-tl {
    border-radius: 3px 12px 12px 12px;
}

.v-badge.v-badge-bl {
    border-radius: 12px 12px 12px 3px;
}

.v-badge.v-badge-tr {
    border-radius: 12px 3px 12px 12px;
}

.v-badge.v-badge-br {
    border-radius: 12px 12px 3px 12px;
}
