.v-btn {
    background-color: $global-light-color;
    display: inline-block;
    padding: 8px 17px;
    text-align: center;
    font-size: $default-font-size;
    letter-spacing: .1rem;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
    height: auto !important;
    position: relative;
    z-index: 10;
    transition: .3s color, .3s background-color;
}

.v-btn:hover, .v-btn:focus, .v-btn.v-active {
    position: relative;
    z-index: 11;
}

.v-btn:disabled {
    cursor: default;
    opacity: .4;
}

.v-btn, .v-btn-group {
    border-radius: $default-border-radius;
    color: #bbb;
}

.v-btn-group {
    display: inline-block;
    border-radius: $default-border-radius;
    text-align: center;
    font-size: 0;
}

.v-btn-group > .v-btn {
    color: inherit;
    border-radius: 0;
    border-width: 0 1px 0 0;
    background-color: transparent;
}

.v-btn-group > .v-btn:focus {
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 .3em rgba(0, 0, 0, .2);
}

.v-btn-group > .v-btn:first-child {
    border-radius: 4px 0 0 4px;
}

.v-btn-group > .v-btn:last-child {
    border-radius: 0 4px 4px 0;
    border-right: 0;
}

.v-btn-group[class^="v-bg-"] > .v-btn, .v-btn-group[class*=" v-bg-"] > .v-btn {
    border: none;
}

.v-btn-sm {
    padding: 4px 8px;
    font-size: 8pt;
}

.v-btn-lg {
    padding: 15px 19px;
    font-size: 14pt;
}

@mixin btn-bg-active($type, $color) {
    .v-btn.v-bg-#{$type}:hover,
    .v-btn.v-bg-#{$type}:focus,
    .v-btn.v-bg-#{$type}.v-active,
    .v-btn-group.v-bg-#{$type} > .v-btn:hover,
    .v-btn-group.v-bg-#{$type} > .v-btn:focus,
    .v-btn-group.v-bg-#{$type} > .v-btn.v-active {
        background-color: $color;
    }
}

@mixin btn-out-active($type, $color, $text) {
    .v-btn.v-out-#{$type}:hover,
    .v-btn.v-out-#{$type}:focus,
    .v-btn.v-out-#{$type}.v-active,
    .v-btn-group.v-out-#{$type} > .v-btn:hover,
    .v-btn-group.v-out-#{$type} > .v-btn:focus,
    .v-btn-group.v-out-#{$type} > .v-btn.v-active {
        background-color: $color;
        color: $text;
    }
}

/* Hover */
@include btn-bg-active('primary', $global-primary-color-hover);
@include btn-bg-active('secondary', $global-secondary-color-hover);
@include btn-bg-active('danger', $global-danger-color-hover);
@include btn-bg-active('success', $global-success-color-hover);
@include btn-bg-active('warning', $global-warning-color-hover);
@include btn-bg-active('dark', $global-dark-color-hover);
@include btn-bg-active('light', $global-light-color-hover);


/* Hover outline */
@include btn-out-active('primary', $global-primary-color, $global-primary-text-color);
@include btn-out-active('secondary', $global-secondary-color, $global-secondary-text-color);
@include btn-out-active('danger', $global-danger-color, $global-danger-text-color);
@include btn-out-active('success', $global-success-color, $global-success-text-color);
@include btn-out-active('warning', $global-warning-color, $global-warning-text-color);
@include btn-out-active('dark', $global-dark-color, $global-dark-text-color);
@include btn-out-active('light', $global-light-color, $global-light-text-color);
