code, .v-code, .v-code-pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .2);
    border-radius: .3em;
}

pre > code, pre > .v-code, .v-code-pre {
    display: block;
    padding: 1.2em;
    overflow: auto;
}

.v-code-pre {
    white-space: pre-wrap;
}
