/* outline colors */

[class^="v-out-"], [class*=" v-out-"] {
    border: thin solid !important;
    background-color: transparent !important;
}

.v-out-primary {
    border-color: $global-primary-color !important;
    color: $global-primary-color !important;
}

.v-out-secondary {
    border-color: $global-secondary-color !important;
    color: $global-secondary-color !important;
}

.v-out-danger {
    border-color: $global-danger-color !important;
    color: $global-danger-color !important;
}

.v-out-success {
    border-color: $global-success-color !important;
    color: $global-success-color !important;
}

.v-out-warning {
    border-color: $global-warning-color !important;
    color: $global-warning-color !important;
}

.v-out-dark {
    border-color: $global-dark-color !important;
    color: $global-dark-color !important;
}

.v-out-light {
    border-color: $global-light-color !important;
    color: $global-light-color !important;
}

/* fill colors */

.v-bg-primary {
    background-color: $global-primary-color !important;
    color: $global-primary-text-color !important;
}

.v-bg-secondary {
    background-color: $global-secondary-color !important;
    color: $global-secondary-text-color !important;
}

.v-bg-danger {
    background-color: $global-danger-color !important;
    color: $global-danger-text-color !important;
}

.v-bg-success {
    background-color: $global-success-color !important;
    color: $global-success-text-color !important;
}

.v-bg-warning {
    background-color: $global-warning-color !important;
    color: $global-warning-text-color !important;
}

.v-bg-dark {
    background-color: $global-dark-color !important;
    color: $global-dark-text-color !important;
}

.v-bg-light {
    background-color: $global-light-color !important;
    color: $global-light-text-color !important;
}
