.v-container-fluid, .v-container {
    padding-left: 15px;
    padding-right: 15px;
}

.v-container {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

@media (min-width: 1px) {
    .v-container {
        width: auto;
    }
}

@media (min-width: 768px) {
    .v-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .v-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .v-container {
        width: 1170px;
    }
}
