.v-container-fluid, .v-container {
    padding-left: 15px;
    padding-right: 15px;
}

.v-container {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

@mixin containersize($minmedia, $width) {
    @media (min-width: unquote($minmedia)) {
        .v-container {
            width: unquote($width);
        }
    }
}

@include containersize('1px', 'auto');
@include containersize('768px', '750px');
@include containersize('992px', '970px');
@include containersize('1200px', '1170px');
