.v-container-fluid, .v-container {
    padding-left: 15px;
    padding-right: 15px;
}

.v-container {
    margin-right: auto;
    margin-left: auto;

    @if not $slim {
        /* Fallback for old browsers */
        width: 1000px;
    }
}

@mixin container-size($minmedia, $width) {
    @media (min-width: $minmedia) {
        .v-container {
            width: unquote($width);
        }
    }
}

@include container-size(1px, 'auto');
@include container-size($global-view-port-md, '750px');
@include container-size($global-view-port-lg, '970px');
@include container-size($global-view-port-xl, '1170px');
