.v-divider, .v-divider-icon, .v-divider-gradient, hr {
    display: block;
    margin: 15px $default-out-space;
    border: 0;
    border-top: 1px solid;
}

.v-divider-icon {
    position: relative;
    text-align: center;
    min-height: 24px;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

.v-divider-icon > * {
    vertical-align: middle;
}

@mixin divider-icon() {
    position: relative;
    display: inline-block;
    left: -16px;
    width: 50%;
    content: '';
    border: 0;
    border-top: 1px solid;
    vertical-align: middle;
}

@mixin divider-icon-after() {
    left: auto;
    right: -16px;
}

@if not $slim {
    .v-divider-icon:before, .v-divider-icon:after {
        @include divider-icon();
    }
}

.v-divider-icon::before, .v-divider-icon::after {
    @include divider-icon();
}

@if not $slim {
    .v-divider-icon:after {
        @include divider-icon-after();
    }
}

.v-divider-icon::after {
    @include divider-icon-after();
}

@mixin divider-style($type, $size, $colon) {
    .v-divider.v-divider-#{$type},
    .v-divider-icon.v-divider-#{$type}#{$colon}after,
    .v-divider-icon.v-divider-#{$type}#{$colon}before {
        border-top-style: unquote($type);
        border-top-width: #{$size}px;
        top: -#{$size / 2}px;
    }
}

@if not $slim {
    @include divider-style('dashed', 1, ':');
    @include divider-style('dotted', 1, ':');
    @include divider-style('double', 3, ':');
    @include divider-style('groove', 2, ':');
}

@include divider-style('dashed', 1, '::');
@include divider-style('dotted', 1, '::');
@include divider-style('double', 3, '::');
@include divider-style('groove', 2, '::');

.v-divider-gradient {
    border: none;
    height: 1px;
    opacity: .65;
    background: currentColor;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, currentColor 50%, rgba(255,255,255,0) 100%);
}
