$fix-render-output: '';

@each $rule in $to-fix-in-render {
    $fix-render-output: $fix-render-output + 'html.v-fix-render ' + $rule + ', ';
}

&#{$fix-render-output} {
    zoom: 99.99%;
    transform: scale(1.0001,1.0001);
}
