.v-row, .v-row > [class^="v-col-"], .v-row > [class*="v-col-"] {
    transition: width .3s cubic-bezier(.25, .8, .25, .1);
}

.v-row {
    padding: .1px 5px .1px .1px;
    padding: .1px;
}

.v-row > [class^="v-col-"], .v-row > [class*="v-col-"] {
    float: left;
    margin: -.1px;
    padding: .1px;
}

@mixin cols($type) {
    @if $type != '' {
        $type: $type + '-';
    }

    .v-row > .v-col-#{$type}12 { width: 100%; }
    .v-row > .v-col-#{$type}11 { width: 91.66666667%; }
    .v-row > .v-col-#{$type}10 { width: 83.33333333%; }
    .v-row > .v-col-#{$type}9 { width: 75%; }
    .v-row > .v-col-#{$type}8 { width: 66.66666667%; }
    .v-row > .v-col-#{$type}7 { width: 58.33333333%; }
    .v-row > .v-col-#{$type}6 { width: 50%; }
    .v-row > .v-col-#{$type}5 { width: 41.66666667%; }
    .v-row > .v-col-#{$type}4 { width: 33.33333333%; }
    .v-row > .v-col-#{$type}3 { width: 25%; }
    .v-row > .v-col-#{$type}2 { width: 16.66666667%; }
    .v-row > .v-col-#{$type}1 { width: 8.33333333%; }
}

/* Fallback for old browsers */
@include cols('xl');
@include cols('lg');
@include cols('md');
@include cols('sm');
@include cols('');

@media (min-width: 1px) {
    .v-row > [class^="v-col-"], .v-row > [class*="v-col-"] {
        width: 100%;
    }
}

@media (min-width: 576px) {
    @include cols('sm');
}

@media (min-width: 768px) {
    @include cols('md');
}

@media (min-width: 992px) {
    @include cols('lg');
}

@media (min-width: 1200px) {
    @include cols('xl');
}
