.v-row {
    padding: .1px;
}

.v-row > [class^="v-col-"], .v-row > [class*=" v-col-"] {
    float: left;
    margin: -.1px;
    padding: .1px;
}

@mixin grid-error($content) {
    content: $content;
    background: $global-danger-color;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    font-size: 14pt;
    visibility: visible !important;
    display: block !important;
}

@mixin protect-grid-structure($colon) {
    .v-row > :not([class^="v-col-"]):not([class*=" v-col-"])#{$colon}before {
        @include grid-error('WARNING: Something is wrong with its structure, this html-element is not a .v-col-, only .v-col- can be direct children of .v-row elements');
    }

    :not(.v-row) > [class^="v-col-"]#{$colon}before,
    :not(.v-row) > [class*=" v-col-"]#{$colon}before {
        @include grid-error('WARNING: v-col html-elements can only be used in v-row');
    }
}

@include protect-grid-structure(':');
@include protect-grid-structure('::');

@mixin cols($type) {
    @if $type != '' {
        $type: $type + '-';
    }

    .v-row > .v-col-#{$type}12 { width: 100%; }
    .v-row > .v-col-#{$type}11 { width: 91.66666667%; }
    .v-row > .v-col-#{$type}10 { width: 83.33333333%; }
    .v-row > .v-col-#{$type}9 { width: 75%; }
    .v-row > .v-col-#{$type}8 { width: 66.66666667%; }
    .v-row > .v-col-#{$type}7 { width: 58.33333333%; }
    .v-row > .v-col-#{$type}6 { width: 50%; }
    .v-row > .v-col-#{$type}5 { width: 41.66666667%; }
    .v-row > .v-col-#{$type}4 { width: 33.33333333%; }
    .v-row > .v-col-#{$type}3 { width: 25%; }
    .v-row > .v-col-#{$type}2 { width: 16.66666667%; }
    .v-row > .v-col-#{$type}1 { width: 8.33333333%; }
}

/* Fallback for old browsers */
@include cols('xl');
@include cols('lg');
@include cols('md');
@include cols('sm');

@media (min-width: 1px) {
    .v-row > [class^="v-col-"], .v-row > [class*=" v-col-"] {
        width: 100%;
    }
}

@media (min-width: $global-view-port-sm) {
    @include cols('sm');
}

@media (min-width: $global-view-port-md) {
    @include cols('md');
}

@media (min-width: $global-view-port-lg) {
    @include cols('lg');
}

@media (min-width: $global-view-port-xl) {
    @include cols('xl');
}

/* standard cols (no-media querys) */
@include cols('');
