kbd {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: thin solid #13171b;
    border-radius: 2px;
    padding: .2em .4em;
    background: #fcfcfc;
    color: #95969a;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
                0 1px 1px rgba(0,0,0,.15);
}

kbd[class^="v-out-"], kbd[class*=" v-out-"] {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
