.v-navbar {
    position: relative;
    z-index: $nav-bar-z;
    width: 100%;
    min-width: 1000px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

@media (min-width: 1px) {
    .v-navbar {
        min-width: $min-view-port-width;
    }
}

.v-navbar.v-nav-fix {
    position: fixed;
    left: 0;
    top: 0;
}

.v-navbar > .v-container, .v-nav-items-inner > .v-container {
    padding-right: 0;
    padding-left: 0;
}

.v-navbar .v-nav-item {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
    color: inherit;
    text-decoration: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: $nav-bar-height;
    line-height: $nav-bar-height;
    background-color: transparent;
}

.v-navbar .v-nav-items {
    z-index: $nav-bar-z;

    /*fallback*/
    max-height: 240px;

    max-height: calc(100vh - 64px);
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.v-navbar a.v-nav-item, .v-navbar button.v-nav-item {
    transition: .2s background-color ease-out;
}

.v-navbar .v-nav-item > * {
    line-height: normal;
    vertical-align: middle;
}

.v-navbar .v-nav-left {
    float: left;
    padding-left: 10px;
}

.v-navbar .v-nav-right {
    float: right;
    padding-right: 10px;
}

.v-navbar .v-nav-right .v-nav-brand {
    text-align: right;
}

.v-navbar .v-nav-brand, .v-navbar .v-nav-items, .v-navbar .v-nav-items-inner {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.v-navbar .v-nav-brand {
    width: 135px;
}

.v-navbar .v-nav-left,
.v-navbar .v-nav-right {
    height: $nav-bar-height;
}

.v-navbar .v-nav-toggle {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: none;
    background: none;
    outline: none;
    border: none;
    padding: 10px 8px;
}

.v-icon-bar {
    background: $default-text-color;
    overflow: hidden;
    display: block;
    width: 24px;
    height: .18em;
    border-radius: 1px;
    transform: translate3d(0, 0, 0) rotate(0) scale(1);
    transition: all .3s;
}

.v-icon-bar + .v-icon-bar {
    margin-top: .3em;
}

.v-bg-primary .v-icon-bar { background: $global-primary-text-color; }
.v-bg-secondary .v-icon-bar { background: $global-secondary-text-color; }
.v-bg-danger .v-icon-bar { background: $global-danger-text-color; }
.v-bg-success .v-icon-bar { background: $global-success-text-color; }
.v-bg-warning .v-icon-bar { background: $global-warning-text-color; }
.v-bg-dark .v-icon-bar { background: $global-dark-text-color; }
.v-bg-light .v-icon-bar { background: $global-light-text-color; }

.v-navbar.v-nav-toggled {
    height: auto;    
}

.v-navbar.v-nav-toggled .v-icon-bar:nth-of-type(1) {
    transform: translate3d(0, .49em, 0) rotate(45deg);
}

.v-navbar.v-nav-toggled .v-icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) scale(.01, .01);
}

.v-navbar.v-nav-toggled .v-icon-bar:nth-of-type(3) {
    transform: translate3d(0, -.49em, 0) rotate(-45deg);
}

@mixin nav-default($sulfix) {
    @if $sulfix != '' {
        $sulfix: '.v-nav-' + $sulfix;
    }

    .v-navbar#{$sulfix} .v-nav-items-inner {
        display: block;
    }

    .v-navbar#{$sulfix} .v-nav-toggle {
        display: inline-block;
    }

    .v-navbar#{$sulfix} .v-nav-items {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    }
}

@mixin nav-media($width, $sulfix) {
    @media (max-width: #{$width - 1}) {
        @include nav-default($sulfix);
    }
}

@include nav-default('min');
@include nav-media($global-view-port-sm, '');
@include nav-media($global-view-port-md, 'md');
@include nav-media($global-view-port-lg, 'lg');
@include nav-media($global-view-port-xl, 'xl');

.v-navbar.v-nav-toggled .v-nav-items {
    display: block !important;
}

.v-navbar.v-nav-toggled .v-nav-items .v-nav-item {
    border-radius: $default-border-radius;
    display: block;
    text-align: left;
    margin: 5px;
}

.v-navbar.v-nav-toggled .v-nav-items.v-nav-ltr .v-nav-item,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl .v-nav-item {
    background-color: transparent !important;
}

.v-navbar a.v-nav-item:hover,
.v-navbar a.v-nav-item:hover,
.v-navbar button.v-nav-item:hover,
.v-navbar button.v-nav-item:hover {
    background-color: rgba(0,0,0,.2);
}

.v-navbar.v-nav-toggled .v-nav-items.v-nav-ltr a.v-nav-item:hover,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl a.v-nav-item:hover,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-ltr button.v-nav-item:hover,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl button.v-nav-item:hover {
    background-color: #e8e5f5 !important;
}

.v-navbar.v-nav-toggled .v-nav-items.v-nav-ltr,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl {
    background-color: rgba(0, 0, 0, .24);
    position: fixed;
    min-width: 220px;
    max-height: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.v-navbar.v-nav-toggled .v-nav-left,
.v-navbar.v-nav-toggled .v-nav-right,
.v-navbar.v-nav-toggled .v-container,
.v-navbar.v-nav-toggled .v-nav-items {
    background-color: inherit;
}

.v-navbar.v-nav-toggled .v-nav-items.v-nav-ltr .v-nav-items-inner,
.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl .v-nav-items-inner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 0 solid #ccc;
    max-width: 280px;
    height: 100%;
    overflow: auto;
    color: $default-text-color;
    width: 90%;
    width: calc(100% - 24px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

.v-navbar.v-nav-toggled .v-nav-items.v-nav-rtl .v-nav-items-inner {
    left: auto;
    right: 0;
}
