@mixin nav-shadow() {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.v-navbar {
    position: relative;
    width: 100%;
    padding: 0 15px;
    background-color: #fff;
    @include nav-shadow();
}

.v-navbar .v-nav-item {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
    color: inherit;
    text-decoration: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: $nav-bar-height;
    line-height: $nav-bar-height;
}
.v-navbar a.v-nav-item, .v-navbar button.v-nav-item {
    transition: .2s background-color ease-out;
}

.v-navbar .v-nav-item > * {
    line-height: normal;
}

.v-navbar .v-navbar-left {
    float: left;
}

.v-navbar .v-navbar-right {
    float: right;
}

.v-navbar .v-navbar-brand, .v-navbar .v-navbar-items, .v-navbar .v-navbar-items-inner {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.v-navbar .v-navbar-brand {
    width: 135px;
}

.v-navbar .v-container,
.v-navbar .v-navbar-left,
.v-navbar .v-navbar-right {
    background-color: inherit;
    height: $nav-bar-height;
}

.v-navbar .v-navbar-toggle {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: none;
    background: none;
    outline: none;
    border: none;
    padding: 10px 8px;
}

.v-icon-bar {
    background-color: currentColor;
    overflow: hidden;
    display: block;
    width: 24px;
    height: .18em;
    border-radius: 1px;
    transform: translate3d(0, 0, 0) rotate(0) scale(1);
    transition: all .3s;
}

@mixin nav-item-active($type, $color) {
    .v-bg-#{$type} a.v-nav-item.v-active, .v-bg-#{$type} a.v-nav-item:hover,
    .v-bg-#{$type} button.v-nav-item.v-active, .v-bg-#{$type} button.v-nav-item:hover {
        background-color: $color;
    }
}

@include nav-item-active('primary', $global-primary-color-high);
@include nav-item-active('secondary', $global-secondary-color-high);
@include nav-item-active('danger', $global-danger-color-high);
@include nav-item-active('success', $global-success-color-high);
@include nav-item-active('warning', $global-warning-color-high);
@include nav-item-active('dark', $global-dark-color-high);
@include nav-item-active('light', $global-light-color-high);

.v-icon-bar + .v-icon-bar {
    margin-top: .3em;
}

.v-navbar.v-navbar-toggled .v-icon-bar:nth-of-type(1) {
    transform: translate3d(0, .49em, 0) rotate(45deg);
}

.v-navbar.v-navbar-toggled .v-icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) scale(.01, .01);
}

.v-navbar.v-navbar-toggled .v-icon-bar:nth-of-type(3) {
    transform: translate3d(0, -.49em, 0) rotate(-45deg);
}

@mixin nav-media($width, $class) {
    @media (max-width: #{$width - 1}) {
        .v-navbar.v-navbar-#{$class} .v-navbar-items-inner {
            display: block;
        }

        .v-navbar.v-navbar-#{$class} .v-navbar-toggle {
            display: inline-block;
        }

        .v-navbar.v-navbar-#{$class} .v-navbar-items {
            display: none;
            position: absolute;
            right: 0;
            z-index: 100;
            width: 100%;
            @include nav-shadow();
        }
    }
}

@include nav-media($global-view-port-sm, 'sm');
@include nav-media($global-view-port-md, 'md');
@include nav-media($global-view-port-lg, 'lg');
@include nav-media($global-view-port-xl, 'xl');

.v-navbar-toggled .v-navbar-items {
    background-color: inherit;
    display: block !important;
}

.v-navbar.v-navbar-toggled .v-nav-item {
    border-radius: $default-border-radius;
    display: block;
    text-align: left;
    margin: 5px;
}

.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-ltr .v-nav-item,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl .v-nav-item {
    background-color: transparent !important;
}

.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-ltr a.v-nav-item:hover,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl a.v-nav-item:hover,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-ltr button.v-nav-item:hover,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl button.v-nav-item:hover {
    background-color: #e8e5f5 !important;
}

.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-ltr,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl {
    background-color: rgba(0, 0, 0, .24);
    position: fixed;
    min-width: 220px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    -webkit-overflow-scrolling: touch;
}

.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-ltr .v-navbar-items-inner,
.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl .v-navbar-items-inner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 0 solid #ccc;
    max-width: 280px;
    height: 100%;
    overflow: auto;
    color: $default-text-color;
    width: 90%;
    width: calc(100% - 24px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

.v-navbar.v-navbar-toggled .v-navbar-items.v-navbar-rtl .v-navbar-items-inner {
    left: auto;
    right: 0;
}

.v-navbar.v-navbar-fix {
    min-width: $min-view-port-width;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
}

.v-navbar.v-navbar-fix .v-navbar-items {
    z-index: 5000;
}
