@mixin text-align($width, $size) {
    @media (min-width: $width) {
        .v-text-left-#{$size} { text-align: left !important; }
        .v-text-right-#{$size} { text-align: right !important; }
        .v-text-center-#{$size} { text-align: center !important; }
        .v-text-justify-#{$size} { text-align: justify !important; }
    }
}

.v-text-left { text-align: left !important; }
.v-text-right { text-align: right !important; }
.v-text-center { text-align: center !important; }
.v-text-justify { text-align: justify !important; }

@include text-align($global-view-port-sm, 'sm');
@include text-align($global-view-port-md, 'md');
@include text-align($global-view-port-lg, 'lg');
@include text-align($global-view-port-xl, 'xl');
