@mixin text-align($size) {
    .v-text-left-#{$size} { text-align: left !important; }
    .v-text-right-#{$size} { text-align: right !important; }
    .v-text-center-#{$size} { text-align: center !important; }
    .v-text-justify-#{$size} { text-align: justify !important; }
}

@media (min-width: $global-view-port-sm) {
    @include text-align('sm');
}

@media (min-width: $global-view-port-md) {
    @include text-align('md');
}

@media (min-width: $global-view-port-lg) {
    @include text-align('lg');
}

@media (min-width: $global-view-port-xl) {
    @include text-align('xl');
}

@media \0screen {
    @include text-align('md');
}
