@mixin underline() {
    display: block;
    content: '';
    width: 0;
    margin-top: 2px;
    height: 1px;
    background-color: $default-text-color;
    transition: .15s width ease-out;
}

@mixin underline-color($type, $color) {
    .v-bg-#{$type} .v-underline:after { background-color: $color; }
    .v-bg-#{$type} .v-underline::after { background-color: $color; }
}

.v-underline {
    position: relative !important;
    display: inline-block !important;
}

.v-underline:after {
    @include underline();
}

.v-underline::after {
    @include underline();
}

.v-underline:hover:after {
    width: 100%;
}

.v-underline:hover::after {
    width: 100%;
}

@include underline-color('primary', $global-primary-text-color);
@include underline-color('secondary', $global-secondary-text-color);
@include underline-color('danger', $global-danger-text-color);
@include underline-color('success', $global-success-text-color);
@include underline-color('warning', $global-warning-text-color);
@include underline-color('dark', $global-dark-text-color);
@include underline-color('light', $global-light-text-color);
