@mixin underline($colon) {
    .v-underline#{$colon}after {
        display: block;
        content: '';
        width: 0;
        margin-top: 2px;
        height: 1px;
        background-color: currentColor;
        transition: width .15s ease-out;
    }

    .v-underline:hover#{$colon}after {
        width: 100%;
    }
}

.v-underline {
    position: relative !important;
    display: inline-block !important;
    line-height: normal !important;
}

@if not $slim {
    @include underline(':');
}

@include underline('::');
