$default-text-color: #4F4949;
$default-font-size: 10pt;
$default-out-space: 6px;
$default-border-radius: 4px;

$min-view-port-width: 240px;

$nav-bar-height: 64px;
$nav-bar-z: 5000;

$global-transition-function: cubic-bezier(.25, .8, .25, .1);
$global-transition-duration: .2s;

$global-primary-color:   #007bff;
$global-secondary-color: #6c757d;
$global-danger-color:    #dc3545;
$global-success-color:   #2fc752;
$global-warning-color:   #ffc107;
$global-dark-color:      #3e3c3c;
$global-light-color:     #f8f9fa;

$global-primary-color-high:   #0571e4;
$global-secondary-color-high: #555b61;
$global-danger-color-high:    #c3303e;
$global-success-color-high:   #25943e;
$global-warning-color-high:   #efb508;
$global-dark-color-high:      #292828;
$global-light-color-high:     #dddfe0;

$global-primary-text-color:   #fff;
$global-secondary-text-color: #fff;
$global-danger-text-color:    #fff;
$global-success-text-color:   #fff;
$global-warning-text-color:   $default-text-color;
$global-dark-text-color:      #fff;
$global-light-text-color:     $default-text-color;

$global-primary-color-hover:   #025ab9;
$global-secondary-color-hover: #444b52;
$global-danger-color-hover:    #a5232f;
$global-success-color-hover:   #18712c;
$global-warning-color-hover:   #d2a00a;
$global-dark-color-hover:      #1f1d15;
$global-light-color-hover:     #d5d6d8;

$global-view-port-sm: 576px;
$global-view-port-md: 768px;
$global-view-port-lg: 992px;
$global-view-port-xl: 1200px;
