@mixin visibility($width, $size) {
    @media (min-width: unquote($width)) {
        .v-block-#{$size} { display: block; }
        .v-inline-#{$size} { display: inline; }
        .v-inline-block-#{$size} { display: inline-block; }
        .v-none-#{$size} { display: none; }
        .v-hidden-#{$size} { visibility: hidden; }
        .v-visible-#{$size} { visibility: visible; }
    }
}

@mixin visibility-initial($vblock, $vinline, $vinlineblock, $vhidden, $vvisible) {
    [class^="v-block-"], [class*=" v-block-"] {
        display: unquote($vblock);
    }

    [class^="v-inline-"], [class*=" v-inline-"] {
        display: unquote($vinline);
    }

    [class^="v-inline-block-"], [class*=" v-inline-block-"] {
        display: unquote($vinlineblock);
    }

    [class^="v-hidden-"], [class*=" v-hidden-"] {
         visibility: unquote($vhidden);
    }

    [class^="v-visible-"], [class*=" v-visible-"] {
        visibility: unquote($vvisible);
    }
}

@include visibility-initial('block', 'inline', 'inline-block', 'hidden', 'visible');

@media (min-width: 1px) {
    @include visibility-initial('none', 'none', 'none', 'visible', 'hidden');
}

@include visibility('576px', 'sm');
@include visibility('768px', 'md');
@include visibility('992px', 'lg');
@include visibility('1200px', 'xl');
